@use 'reset';
@use 'variables' as *;

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.container {
    width: 100%;
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $container-padding;
    box-sizing: border-box;
    
    @media (max-width: $breakpoint-xl) { max-width: 1140px; }
    @media (max-width: $breakpoint-lg) { max-width: 960px; padding: 0 $spacing-xl; }
    @media (max-width: $breakpoint-md) { max-width: 100%; padding: 0 $spacing-lg; }
    @media (max-width: $breakpoint-sm) { padding: 0 $spacing-md; }
}
